site_name: clabe
site_description: Documentation for the clabe python package.
site_author: Bruno F. Cruz
copyright: 2026, Allen Institute for Neural Dynamics
repo_url: https://github.com/AllenNeuralDynamics/clabe
repo_name: GitHub
theme:
  name: material
  palette:
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: white
    accent: black
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: black
    accent: white
    toggle:
      icon: material/brightness-4
      name: Switch to light mode
  features:
  - content.tabs.link
  - content.code.annotate
  - content.code.copy
  - announce.dismiss
  - navigation.tabs
  - navigation.instant
  - navigation.instant.prefetch
  - navigation.instant.preview
  - navigation.instant.progress
  - navigation.path
  - navigation.sections
  - navigation.top
  - navigation.tracking
  - search.suggest
  - toc.follow
  logo: logo.svg
  favicon: icon.ico
plugins:
- search
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        options:
          separate_signature: true
          filters:
          - '!^_'
          merge_init_into_class: true
          show_signature_annotations: true
          signature_crossrefs: true
          show_bases: true
          inherited_members: true
          members_order: source
        rendering:
          show_source: true
          show_root_heading: true
        selection:
          docstring_style: google
          inherited_members: true
        inventories:
        - url: https://docs.python.org/3/objects.inv
          domains:
          - py
          - std
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn
markdown_extensions:
- tables
- toc:
    permalink: true
    title: Page contents
- admonition
- pymdownx.details
- pymdownx.superfences
- pymdownx.highlight:
    pygments_lang_class: true
- pymdownx.extra
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.snippets:
    base_path:
    - .
nav:
- Home: index.md
- API Reference:
  - Cache Manager:
    - cache_manager: api/cache_manager.md
  - Cli:
    - cli: api/cli.md
  - Constants:
    - constants: api/constants.md
  - Services:
    - services: api/services.md
  - Apps:
    - apps: api/apps/apps.md
    - open_ephys: api/apps/open_ephys.md
  - Data Mapper:
    - data_mapper: api/data_mapper/data_mapper.md
    - aind_data_schema: api/data_mapper/aind_data_schema.md
    - helpers: api/data_mapper/helpers.md
  - Data Transfer:
    - data_transfer: api/data_transfer/data_transfer.md
    - aind_watchdog: api/data_transfer/aind_watchdog.md
    - robocopy: api/data_transfer/robocopy.md
  - Git Manager:
    - git_manager: api/git_manager/git_manager.md
  - Launcher:
    - launcher: api/launcher/launcher.md
  - Logging Helper:
    - logging_helper: api/logging_helper/logging_helper.md
    - aibs: api/logging_helper/aibs.md
  - Pickers:
    - pickers: api/pickers/pickers.md
    - dataverse: api/pickers/dataverse.md
    - default_behavior: api/pickers/default_behavior.md
  - Resource Monitor:
    - resource_monitor: api/resource_monitor/resource_monitor.md
  - Ui:
    - ui: api/ui/ui.md
    - questionary_ui_helper: api/ui/questionary_ui_helper.md
    - ui_helper: api/ui/ui_helper.md
  - Utils:
    - utils: api/utils/utils.md
    - aind_auth: api/utils/aind_auth.md
    - keepass: api/utils/keepass.md
  - Xml Rpc:
    - xml_rpc: api/xml_rpc/xml_rpc.md
    - models: api/xml_rpc/models.md
- Articles:
  - ServiceSettings and yaml tags: articles/service_settings.md
- Issues: https://github.com/AllenNeuralDynamics/clabe/issues
- Examples:
  - AIND Experiment: docs_examples/behavior_launcher.md
watch:
- src/clabe
